In [13]:
import pandas as pd
import numpy as np

In [14]:
df_1990to1999 = pd.read_csv('./resale_price_data/ResaleFlatPricesBasedonApprovalDate19901999.csv')
df_2000tofeb2012 = pd.read_csv('./resale_price_data/ResaleFlatPricesBasedonApprovalDate2000Feb2012.csv')
df_mar2012todec2014 = pd.read_csv('./resale_price_data/ResaleFlatPricesBasedonRegistrationDateFromMar2012toDec2014.csv')
df_jan2015todec2016 = pd.read_csv('./resale_price_data/ResaleFlatPricesBasedonRegistrationDateFromJan2015toDec2016.csv')
df_jan2017tonov2023 = pd.read_csv('./resale_price_data/ResaleflatpricesbasedonregistrationdatefromJan2017onwards.csv')

In [15]:
# Join all csvs
df = pd.concat([df_1990to1999, df_2000tofeb2012, df_mar2012todec2014, df_jan2015todec2016, df_jan2017tonov2023]).reset_index(drop=True)
df = df.drop(columns=['flat_model', 'remaining_lease'])
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,lease_commence_date,resale_price
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,1977,9000.0
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,1977,6000.0
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,1977,8000.0
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,1977,6000.0
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,1976,47200.0
...,...,...,...,...,...,...,...,...,...
911477,2023-11,YISHUN,4 ROOM,851,YISHUN ST 81,04 TO 06,104.0,1988,520000.0
911478,2023-11,YISHUN,4 ROOM,865,YISHUN ST 81,04 TO 06,104.0,1988,520000.0
911479,2023-11,YISHUN,5 ROOM,315C,YISHUN AVE 9,04 TO 06,112.0,2015,645000.0
911480,2023-11,YISHUN,5 ROOM,342C,YISHUN RING RD,13 TO 15,113.0,2016,700000.0
911481,2023-11,YISHUN,EXECUTIVE,723,YISHUN ST 71,04 TO 06,142.0,1986,715000.0

In [16]:
# Ensure consistent feature naming
df['flat_type'] = df['flat_type'].replace('MULTI-GENERATION', 'MULTI GENERATION')
df['flat_type'].unique()

array(['1 ROOM', '3 ROOM', '4 ROOM', '5 ROOM', '2 ROOM', 'EXECUTIVE',
       'MULTI GENERATION'], dtype=object)

In [17]:
# Narrow storey range categories
df['storey_range'] = df['storey_range'].apply(lambda x: x if x in ['01 TO 03', '04 TO 06', '07 TO 09'] else '10 OR ABOVE')
df['storey_range'].unique()

array(['10 OR ABOVE', '04 TO 06', '07 TO 09', '01 TO 03'], dtype=object)

In [18]:
df['year'] = pd.to_datetime(df['month']).dt.year
df['remaining_lease_years'] = df['year'] - df['lease_commence_date']
df['resale_price_per_sqm'] = (df['resale_price'] / df['floor_area_sqm']).round(0)
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,lease_commence_date,resale_price,year,remaining_lease_years,resale_price_per_sqm
0,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 OR ABOVE,31.0,1977,9000.0,1990,13,290.0
1,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,1977,6000.0,1990,13,194.0
2,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 OR ABOVE,31.0,1977,8000.0,1990,13,258.0
3,1990-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,1977,6000.0,1990,13,194.0
4,1990-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,1976,47200.0,1990,14,647.0
...,...,...,...,...,...,...,...,...,...,...,...,...
911477,2023-11,YISHUN,4 ROOM,851,YISHUN ST 81,04 TO 06,104.0,1988,520000.0,2023,35,5000.0
911478,2023-11,YISHUN,4 ROOM,865,YISHUN ST 81,04 TO 06,104.0,1988,520000.0,2023,35,5000.0
911479,2023-11,YISHUN,5 ROOM,315C,YISHUN AVE 9,04 TO 06,112.0,2015,645000.0,2023,8,5759.0
911480,2023-11,YISHUN,5 ROOM,342C,YISHUN RING RD,10 OR ABOVE,113.0,2016,700000.0,2023,7,6195.0
911481,2023-11,YISHUN,EXECUTIVE,723,YISHUN ST 71,04 TO 06,142.0,1986,715000.0,2023,37,5035.0

In [19]:
# Drop 2023 due to incomplete data
df = df[df['year'].between(1990, 2022)]

In [20]:
df.to_csv('./resale_price_data/ResaleFlatPrices1990to2023Processed.csv',index=False)

In [21]:
df.groupby(by=['month'])['resale_price_per_sqm'].describe() # Check if dash graphs are correct

,count,mean,std,min,25%,50%,75%,max
month,,,,,,,,
1990-01,1507.0,730.858660,254.028231,194.0,568.00,699.0,846.00,1675.0
1990-02,931.0,748.987111,247.696953,252.0,597.50,702.0,888.00,1667.0
1990-03,1150.0,741.344348,247.405429,181.0,589.00,701.0,872.25,1625.0
1990-04,1047.0,742.843362,240.174710,241.0,588.00,701.0,879.00,1587.0
1990-05,778.0,753.142674,266.818375,207.0,585.25,701.0,888.25,1713.0
...,...,...,...,...,...,...,...,...
2022-08,2309.0,5729.374621,1291.193094,3413.0,4890.00,5369.0,6148.00,12396.0
2022-09,2578.0,5874.773468,1364.910825,3636.0,4970.25,5510.5,6333.00,13097.0
2022-10,1958.0,5910.701736,1379.990301,3407.0,5000.00,5556.0,6358.50,14731.0
2022-11,2130.0,5850.745540,1286.789422,3773.0,5000.00,5512.5,6272.75,12037.0
2022-12,2234.0,5855.644136,1243.235971,3795.0,5033.00,5588.0,6310.00,13226.0